@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-work-sans);
  color: var(--foreground);
}

.trns{
  transition: all .3s ease-in-out;
}

.btn{
  background-color: var(--foreground);
  color: var(--background);
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn-out{
  border: 1px solid var(--foreground);
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}